{% extends 'template.html' %}

{% block content %}
    <div class="grid content">
    <div class="row">
        <div class="cell-10 offset-1">
            <div class="tiles-grid">
                <a href="{% url 'health_services:health_services' %}" data-role="tile" data-size="wide" class="text-center mif-medkit mif-10x icon bg-red fg-white">
                    <span class="branding-bar text-center"><h5>SANTE</h5></span>
                </a>
                <div data-role="tile" data-size="medium" class="text-center mif-credit-card mif-10x icon bg-orange">
                    <span class="branding-bar"><h5>E-PAYEMENT</h5></span>
                </div>
                <a href="{% url 'enews:enews' %}" data-role="tile" data-size="medium" class="text-center mif-news mif-10x icon">
                    <span class="branding-bar"><h5>E-NEWS</h5></span>
                </a>
                <div data-role="tile" data-size="large" class="text-center mif-home mif-10x icon bg-green">
                    <span class="branding-bar"><h5>SERVICES RURAUX</h5></span>
                </div>
                <div data-role="tile" data-size="large" class="p-2 text-center">
                    <span class="branding-bar"><h5>E-GOVERNMENT</h5></span>
                </div>
                <div data-role="tile" data-size="medium" class="text-center mif-add-shopping-cart mif-10x icon bg-magenta">
                    <span class="branding-bar"><h5>E-COMMERCE</h5></span>
                </div>
                <div data-role="tile" data-size="medium" class="text-center mif-wikipedia mif-10x icon bg-black">
                    <span class="branding-bar"><h5>WIKIPEDIA</h5></span>
                </div>
                <div data-role="tile" data-size="wide" class="text-center mif-books mif-10x icon bg-indigo">
                    <span class="branding-bar"><h5>E-LEARNING</h5></span>
                </div>
                <div data-role="tile" data-size="wide" class="text-center mif-phone-in-talk mif-10x icon">
                    <span class="branding-bar"><h5>VOIP</h5></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}