{% extends 'base.html' %}
{% block content %}
    <div class="main-slider">
        <div class="slide-text text-justify">
            <h1>We Are Creative Nerds</h1>
            <p>Boudin doner frankfurter pig. Cow shank bresaola pork landjaeger biltong beef ribs shankle chicken andouille.</p>
            <a href="{% url 'main_app:register' %}" class="btn btn-common">SIGN UP</a>
        </div>
        <!--/Home Where we import content part-->
    </div>
    <div class="slider-forms__login slider-house form-group offset-md-3 text-center">
        <form cible="" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="InputNom" aria-describedby="NomHelp" placeholder="Entrez votre nom d'utilisateur" name="username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-lg btn-common" name="submit">Submit</button>
        </form>
    </div>

{% endblock %}