{% extends 'template.html' %}
<style>
    .section{
        background-size: cover;
        height: 1000px;
        background: url("{% load static %}{% static 'images/home/slider-bg.png' %}");
    }
</style>
{% block content %}
    <div class="section p-5">
        <div class="grid">
            <div class="row text-justify">
                <div class="cell-8 offset-2">
                    <h4 class="">Rejoingnez-nous</h4>
                    <p>Bienvenue sur le réseau ou la vie en communauté est une expérience progressive, n'attendez-plus <a href="{% url 'main_app:login' %}" class="text-danger active">connectez-vous</a></p>
                </div>
            </div>
            <!--/Home Where we import content part-->
        </div>
        <div class="grid text-center">
            <div class="row">
                <div class="cell-8 offset-2">
                    <form cible="" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputNom" aria-describedby="NomHelp" placeholder="Entrez votre nom d'utilisateur" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email" name="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="ConfirmPassword1" placeholder="confirmer votre Password" name="verif_password" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" id="InputNumber" aria-describedby="numberHelp" placeholder="Entrez votre Numéro" name="number" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputInteret" placeholder="Centre d'interêt" name="centre_interet">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputInteret" placeholder="Êtes-vous Etudiant, Medecin, Agriculteur, Enseignant, etc..." name="profil"><br>
                        </div>
                        <button type="submit" class="button bg-cyan fg-white" name="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}