.content {
    margin-top: 80px;
    margin-left: 90px;
}
@media only screen and (max-width: 1154px) {
  .content {
    margin-left: 10px;
    }
}
@media only screen and (max-width: 565px) {
  .content {
    margin-left: -6px;
    }
}
@media only screen and (orientation: landscape) {
  .content {
    margin-left: 30px;
    }
}

.bg-black{
    background-color: black;
}
.main-content {
    margin-top: 50px;
}
.enews-block{
    height: 195px;
    overflow: hidden;
}
.health{
    margin-top: 90px;
    margin-left: 150px;
    padding: 50px;
}
.learning{
     margin-top: 90px;
    margin-left: 150px;
    padding: 50px;
}
.section-login{
    margin-top: 150px;
}
footer{
    height: 400px;
}