{% extends 'template.html' %}
{% block content %}
    <div class="grid">
        <div class="row">
            <div class="cell-6 offset-3">
                <!--/Home Where we import content part-->
                {% load static %}
                <img src="{% static 'images/home/slider/hill.png' %}" class="slider-hill" alt="slider image">
                <a href="{% url 'main_app:register' %}" class="button o bg-cyan fg-white">SIGN UP</a>
                <a href="{% url 'main_app:login' %}" class="button bg-cyan  offset-8 fg-white active">LOGIN</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}